{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI DROP DATABASE",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hackaton.donorsearch.org"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/donations/": {
      "get": {
        "operationId": "donations_list",
        "description": "Retrieves a list of donations made by the authenticated user, excluding deleted donations.",
        "summary": "List User Donations",
        "parameters": [
          {
            "in": "query",
            "name": "donate_at__gte",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Donation Management"
        ],
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDonationList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "donations_create",
        "description": "Allows an authenticated user to create a new donation record.",
        "summary": "Create a Donation",
        "tags": [
          "Donation Management"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DonationCreate"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DonationCreate"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DonationCreate"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DonationCreate"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/donation_plan/": {
      "get": {
        "operationId": "donation_plan_list",
        "description": "Retrieves a list of donation plans created by the authenticated user, excluding aborted plans.",
        "summary": "List Donation Plans",
        "parameters": [
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Donation Plan Management"
        ],
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDonationPlanList"
                }
              }
            },
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "donation_plan_create",
        "description": "Allows an authenticated user to create a new donation plan.",
        "summary": "Create a Donation Plan",
        "tags": [
          "Donation Plan Management"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DonationPlan"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/DonationPlan"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/DonationPlan"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DonationPlan"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/blood_stations/": {
      "get": {
        "operationId": "blood_stations_list",
        "description": "Retrieves a list of all blood stations along with detailed information.",
        "summary": "List All Blood Stations",
        "parameters": [
          {
            "in": "query",
            "name": "blood_group",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "city_id",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "city_slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "closed",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "for_moscow",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "open_on_saturday",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "open_on_sunday",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "with_typing",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "without_registration",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "tags": [
          "Blood Station Information"
        ],
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedBloodStationWithNeedsList"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/events/": {
      "get": {
        "operationId": "events_list",
        "description": "Retrieves a list of events with optional filtering and ordering.",
        "summary": "List Events",
        "parameters": [
          {
            "in": "query",
            "name": "blood_station",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "by_blood_station",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "by_date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ordering",
            "required": false,
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "organization_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "required": false,
            "in": "query",
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Events"
        ],
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          },
          {}
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedEventListList"
                }
              }
            },
            "description": ""
          }
        }
      }
    },
    "/api/donations/{id}/": {
      "get": {
        "operationId": "donations_retrieve",
        "description": "Get detailed information about a specific donation made by the authenticated user.",
        "summary": "Retrieve Donation Details",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "description": "A unique integer value identifying this Донация.",
            "required": true
          }
        ],
        "tags": [
          "Donation Management"
        ],
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DonationDetail"
                }
              }
            },
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "donations_update",
        "description": "Allows an authenticated user to update an existing donation record.",
        "summary": "Update a Donation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "description": "A unique integer value identifying this Донация.",
            "required": true
          }
        ],
        "tags": [
          "Donation Management"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Donation"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/Donation"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Donation"
              }
            }
          },
          "required": true
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Donation"
                }
              }
            },
            "description": ""
          }
        }
      },
      "patch": {
        "operationId": "donations_partial_update",
        "description": "Allows an authenticated user to update an existing donation record.",
        "summary": "Update a Donation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "description": "A unique integer value identifying this Донация.",
            "required": true
          }
        ],
        "tags": [
          "Donation Management"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchedDonation"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PatchedDonation"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/PatchedDonation"
              }
            }
          }
        },
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Donation"
                }
              }
            },
            "description": ""
          }
        }
      },
      "delete": {
        "operationId": "donations_destroy",
        "description": "Soft deletes a donation made by the authenticated user.",
        "summary": "Delete a Donation",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "description": "A unique integer value identifying this Донация.",
            "required": true
          }
        ],
        "tags": [
          "Donation Management"
        ],
        "security": [
          {
            "tokenAuth": []
          },
          {
            "cookieAuth": []
          },
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "No response body"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AMinusAf7Enum": {
        "enum": [
          "need",
          "no_need"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна"
      },
      "AMinusC07Enum": {
        "enum": [
          "need",
          "no_need",
          "unknown"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна\n* `unknown` - нет данных"
      },
      "APlusAf7Enum": {
        "enum": [
          "need",
          "no_need"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна"
      },
      "APlusC07Enum": {
        "enum": [
          "need",
          "no_need",
          "unknown"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна\n* `unknown` - нет данных"
      },
      "AbMinusAf7Enum": {
        "enum": [
          "need",
          "no_need"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна"
      },
      "AbMinusC07Enum": {
        "enum": [
          "need",
          "no_need",
          "unknown"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна\n* `unknown` - нет данных"
      },
      "AbPlusAf7Enum": {
        "enum": [
          "need",
          "no_need"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна"
      },
      "AbPlusC07Enum": {
        "enum": [
          "need",
          "no_need",
          "unknown"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна\n* `unknown` - нет данных"
      },
      "AddressNeed": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "author": {
            "type": "string",
            "readOnly": true
          },
          "total_joined_count": {
            "type": "integer",
            "readOnly": true
          },
          "image": {
            "type": "string"
          },
          "blood_station_id": {
            "type": "integer"
          },
          "blood_station": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodStationSmall"
              }
            ],
            "readOnly": true
          },
          "time_slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressNeedTimeSlotForBase"
            },
            "readOnly": true
          },
          "joined_users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressNeedJoinedUserForBase"
            },
            "readOnly": true
          },
          "object_id": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "nullable": true,
            "title": "Автор"
          },
          "o_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OPlusAf7Enum"
              }
            ],
            "title": "O(I) Rh+"
          },
          "o_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OMinusAf7Enum"
              }
            ],
            "title": "O(I) Rh-"
          },
          "a_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/APlusAf7Enum"
              }
            ],
            "title": "A(II) Rh+"
          },
          "a_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AMinusAf7Enum"
              }
            ],
            "title": "A(II) Rh-"
          },
          "b_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BPlusAf7Enum"
              }
            ],
            "title": "B(III) Rh+"
          },
          "b_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BMinusAf7Enum"
              }
            ],
            "title": "B(III) Rh-"
          },
          "ab_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbPlusAf7Enum"
              }
            ],
            "title": "AB(IV) Rh+"
          },
          "ab_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbMinusAf7Enum"
              }
            ],
            "title": "AB(IV) Rh-"
          },
          "blood_class": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodClass2c1Enum"
              }
            ],
            "title": "Тип крови"
          },
          "last_date": {
            "type": "string",
            "format": "date",
            "title": "Крайний срок"
          },
          "required_donors_count": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Требуемое количество доноров"
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "Дата рождения реципиента"
          },
          "last_name": {
            "type": "string",
            "title": "Фамилия реципиента",
            "maxLength": 255
          },
          "first_name": {
            "type": "string",
            "title": "Имя реципиента",
            "maxLength": 255
          },
          "middle_name": {
            "type": "string",
            "nullable": true,
            "title": "Отчество реципиента",
            "maxLength": 255
          },
          "_image": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "title": "Фото реципиента",
            "description": "Минимальный размер 190x190, Максимальный размер 10000x10000"
          },
          "cropping": {
            "type": "string",
            "title": "Отображаемая часть",
            "maxLength": 255
          },
          "search_reason": {
            "type": "string",
            "title": "Причина поиска"
          },
          "status": {
            "nullable": true,
            "title": "Статус",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Status2e6Enum"
              },
              {
                "$ref": "#/components/schemas/BlankEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "time_by_blood_station": {
            "type": "boolean",
            "title": "По расписанию центра крови"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "nullable": true,
            "title": "Дата добавления"
          },
          "content_type": {
            "type": "integer",
            "nullable": true,
            "title": "Тип автора"
          }
        },
        "required": [
          "author",
          "blood_station",
          "blood_station_id",
          "created_at",
          "first_name",
          "id",
          "image",
          "joined_users",
          "last_date",
          "last_name",
          "required_donors_count",
          "search_reason",
          "time_slots",
          "total_joined_count"
        ]
      },
      "AddressNeedJoinedUserForBase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "user": {
            "allOf": [
              {
                "$ref": "#/components/schemas/UserTop"
              }
            ],
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата добавления"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата изменения"
          },
          "timeslot": {
            "type": "integer",
            "title": "Выбранное время"
          }
        },
        "required": [
          "created_at",
          "id",
          "timeslot",
          "updated_at",
          "user"
        ]
      },
      "AddressNeedSerializerDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "author": {
            "type": "string",
            "readOnly": true
          },
          "total_joined_count": {
            "type": "integer",
            "readOnly": true
          },
          "image": {
            "type": "string",
            "readOnly": true
          },
          "blood_station_id": {
            "type": "integer"
          },
          "blood_station": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodStationSmall"
              }
            ],
            "readOnly": true
          },
          "time_slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressNeedTimeSlotForBase"
            },
            "readOnly": true
          },
          "joined_users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddressNeedJoinedUserForBase"
            },
            "readOnly": true
          },
          "user_status": {
            "type": "string",
            "readOnly": true
          },
          "requested_blood_type": {
            "type": "array",
            "items": {},
            "writeOnly": true
          },
          "time_by_blood_station": {
            "type": "boolean",
            "default": true
          },
          "object_id": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "nullable": true,
            "title": "Автор"
          },
          "o_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OPlusAf7Enum"
              }
            ],
            "title": "O(I) Rh+"
          },
          "o_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OMinusAf7Enum"
              }
            ],
            "title": "O(I) Rh-"
          },
          "a_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/APlusAf7Enum"
              }
            ],
            "title": "A(II) Rh+"
          },
          "a_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AMinusAf7Enum"
              }
            ],
            "title": "A(II) Rh-"
          },
          "b_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BPlusAf7Enum"
              }
            ],
            "title": "B(III) Rh+"
          },
          "b_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BMinusAf7Enum"
              }
            ],
            "title": "B(III) Rh-"
          },
          "ab_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbPlusAf7Enum"
              }
            ],
            "title": "AB(IV) Rh+"
          },
          "ab_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbMinusAf7Enum"
              }
            ],
            "title": "AB(IV) Rh-"
          },
          "blood_class": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodClass2c1Enum"
              }
            ],
            "title": "Тип крови"
          },
          "last_date": {
            "type": "string",
            "format": "date",
            "title": "Крайний срок"
          },
          "required_donors_count": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Требуемое количество доноров"
          },
          "birth_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "Дата рождения реципиента"
          },
          "last_name": {
            "type": "string",
            "title": "Фамилия реципиента",
            "maxLength": 255
          },
          "first_name": {
            "type": "string",
            "title": "Имя реципиента",
            "maxLength": 255
          },
          "middle_name": {
            "type": "string",
            "nullable": true,
            "title": "Отчество реципиента",
            "maxLength": 255
          },
          "_image": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "title": "Фото реципиента",
            "description": "Минимальный размер 190x190, Максимальный размер 10000x10000"
          },
          "cropping": {
            "type": "string",
            "title": "Отображаемая часть",
            "maxLength": 255
          },
          "search_reason": {
            "type": "string",
            "title": "Причина поиска"
          },
          "status": {
            "nullable": true,
            "title": "Статус",
            "oneOf": [
              {
                "$ref": "#/components/schemas/Status2e6Enum"
              },
              {
                "$ref": "#/components/schemas/BlankEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "nullable": true,
            "title": "Дата добавления"
          },
          "content_type": {
            "type": "integer",
            "nullable": true,
            "title": "Тип автора"
          }
        },
        "required": [
          "author",
          "birth_date",
          "blood_class",
          "blood_station",
          "blood_station_id",
          "created_at",
          "first_name",
          "id",
          "image",
          "joined_users",
          "last_date",
          "last_name",
          "requested_blood_type",
          "required_donors_count",
          "search_reason",
          "time_slots",
          "total_joined_count",
          "user_status"
        ]
      },
      "AddressNeedTimeSlotForBase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "joined_count": {
            "type": "integer",
            "readOnly": true
          },
          "date": {
            "type": "string",
            "format": "date",
            "title": "День"
          }
        },
        "required": [
          "date",
          "id",
          "joined_count"
        ]
      },
      "AllNamesBloodStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          }
        },
        "required": [
          "id",
          "title"
        ]
      },
      "BMinusAf7Enum": {
        "enum": [
          "need",
          "no_need"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна"
      },
      "BMinusC07Enum": {
        "enum": [
          "need",
          "no_need",
          "unknown"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна\n* `unknown` - нет данных"
      },
      "BPlusAf7Enum": {
        "enum": [
          "need",
          "no_need"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна"
      },
      "BPlusC07Enum": {
        "enum": [
          "need",
          "no_need",
          "unknown"
        ],
        "type": "string",
        "description": "* `need` - нужна\n* `no_need` - не нужна\n* `unknown` - нет данных"
      },
      "BlankEnum": {
        "enum": [
          ""
        ]
      },
      "BloodClass2c1Enum": {
        "enum": [
          "blood",
          "plasma",
          "platelets",
          "erythrocytes",
          "leukocytes",
          "any"
        ],
        "type": "string",
        "description": "* `blood` - Цельная кровь\n* `plasma` - Плазма\n* `platelets` - Тромбоциты\n* `erythrocytes` - Эритроциты\n* `leukocytes` - Гранулоциты (Лейкоциты)\n* `any` - Любой"
      },
      "BloodClassF07Enum": {
        "enum": [
          "blood",
          "plasma",
          "platelets",
          "erythrocytes",
          "leukocytes"
        ],
        "type": "string",
        "description": "* `blood` - Цельная кровь\n* `plasma` - Плазма\n* `platelets` - Тромбоциты\n* `erythrocytes` - Эритроциты\n* `leukocytes` - Гранулоциты (Лейкоциты)"
      },
      "BloodStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "city_id": {
            "type": "integer"
          },
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "lat": {
            "type": "string",
            "readOnly": true
          },
          "lng": {
            "type": "string",
            "readOnly": true
          },
          "schedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BloodStationSchedule"
            }
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BloodStationPhone"
            }
          },
          "blood_group": {
            "type": "string",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          },
          "parser_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "title": "Страница в службе крови",
            "maxLength": 200
          },
          "is_get_from_parser": {
            "type": "boolean",
            "title": "Принимать потребности у службы крови?",
            "description": "Данные будут обновляться каждый день в час ночи."
          },
          "o_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OPlusC07Enum"
              }
            ],
            "title": "O(I) Rh+"
          },
          "o_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OMinusC07Enum"
              }
            ],
            "title": "O(I) Rh-"
          },
          "a_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/APlusC07Enum"
              }
            ],
            "title": "A(II) Rh+"
          },
          "a_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AMinusC07Enum"
              }
            ],
            "title": "A(II) Rh-"
          },
          "b_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BPlusC07Enum"
              }
            ],
            "title": "B(III) Rh+"
          },
          "b_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BMinusC07Enum"
              }
            ],
            "title": "B(III) Rh-"
          },
          "ab_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbPlusC07Enum"
              }
            ],
            "title": "AB(IV) Rh+"
          },
          "ab_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbMinusC07Enum"
              }
            ],
            "title": "AB(IV) Rh-"
          },
          "blood": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Цельная кровь"
          },
          "plasma": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Плазма"
          },
          "platelets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Тромбоциты"
          },
          "erythrocytes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Эритроциты"
          },
          "leukocytes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Гранулоциты (Лейкоциты)"
          },
          "address": {
            "type": "string",
            "title": "Адрес",
            "maxLength": 255
          },
          "site": {
            "type": "string",
            "title": "Сайт",
            "maxLength": 255
          },
          "phones": {
            "type": "string",
            "title": "Телефоны",
            "description": "Устаревшее поле",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "worktime": {
            "type": "string",
            "title": "Режим работы",
            "description": "Устаревшее поле",
            "maxLength": 255
          },
          "without_registration": {
            "type": "boolean",
            "title": "Можно сдавать без прописки",
            "description": "Центры крови принимает доноров без местной прописки"
          },
          "with_typing": {
            "type": "boolean",
            "title": "Можно пройти типирование",
            "description": "Здесь вы можете войти в <a href=\"https://wmdd2020.donorsearch.org\" target=\"_blank\">регистр доноров костного мозга</a>"
          },
          "for_moscow": {
            "type": "boolean",
            "title": "В зачёт почётного донора Москвы",
            "description": "Сдавая в этом центре крови можно получить звание Почётного донора Москвы"
          },
          "closed": {
            "type": "boolean",
            "title": "Ликвидирован",
            "description": "Если данный центр крови больше не существует, то не будет показан в поиске, где сдать кровь. Однако при добавлении донаций, доноры могут найти этот центр крови, чтобы отметить свои старые донации."
          },
          "priority": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций добавлено"
          }
        },
        "required": [
          "blood_group",
          "city",
          "city_id",
          "id",
          "lat",
          "lng",
          "phone_numbers",
          "schedule",
          "title"
        ]
      },
      "BloodStationAddress": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "title": "Адрес",
            "maxLength": 255
          }
        }
      },
      "BloodStationPhone": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "phone": {
            "type": "string",
            "title": "Номер телефона",
            "maxLength": 25
          },
          "comment": {
            "type": "string",
            "title": "Коментарий"
          }
        },
        "required": [
          "id",
          "phone"
        ]
      },
      "BloodStationSchedule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "dow": {
            "type": "string",
            "readOnly": true
          },
          "start": {
            "type": "string",
            "format": "time"
          },
          "end": {
            "type": "string",
            "format": "time"
          }
        },
        "required": [
          "dow",
          "end",
          "id",
          "start"
        ]
      },
      "BloodStationSearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          },
          "address": {
            "type": "string",
            "readOnly": true
          },
          "lat": {
            "type": "string",
            "readOnly": true
          },
          "lng": {
            "type": "string",
            "readOnly": true
          },
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "city_id": {
            "type": "integer"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "default": "blood_station"
          },
          "priority": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций добавлено"
          },
          "without_registration": {
            "type": "boolean",
            "title": "Можно сдавать без прописки",
            "description": "Центры крови принимает доноров без местной прописки"
          },
          "with_typing": {
            "type": "boolean",
            "title": "Можно пройти типирование",
            "description": "Здесь вы можете войти в <a href=\"https://wmdd2020.donorsearch.org\" target=\"_blank\">регистр доноров костного мозга</a>"
          },
          "for_moscow": {
            "type": "boolean",
            "title": "В зачёт почётного донора Москвы",
            "description": "Сдавая в этом центре крови можно получить звание Почётного донора Москвы"
          },
          "closed": {
            "type": "boolean",
            "title": "Ликвидирован",
            "description": "Если данный центр крови больше не существует, то не будет показан в поиске, где сдать кровь. Однако при добавлении донаций, доноры могут найти этот центр крови, чтобы отметить свои старые донации."
          },
          "schedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BloodStationSchedule"
            }
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BloodStationPhone"
            }
          }
        },
        "required": [
          "address",
          "city",
          "city_id",
          "id",
          "lat",
          "lng",
          "phone_numbers",
          "schedule",
          "title",
          "type"
        ]
      },
      "BloodStationSearchResponse": {
        "type": "object",
        "properties": {
          "blood_stations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BloodStationSearch"
            }
          },
          "cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CitySearch"
            }
          }
        },
        "required": [
          "blood_stations",
          "cities"
        ]
      },
      "BloodStationSmall": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "city_id": {
            "type": "integer"
          },
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "lat": {
            "type": "string",
            "readOnly": true
          },
          "lng": {
            "type": "string",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          },
          "blood_group": {
            "title": "Потребности центра крови",
            "oneOf": [
              {
                "$ref": "#/components/schemas/BloodStationSmallBloodGroupEnum"
              },
              {
                "$ref": "#/components/schemas/BlankEnum"
              }
            ]
          },
          "parser_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "title": "Страница в службе крови",
            "maxLength": 200
          },
          "is_get_from_parser": {
            "type": "boolean",
            "title": "Принимать потребности у службы крови?",
            "description": "Данные будут обновляться каждый день в час ночи."
          },
          "o_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OPlusC07Enum"
              }
            ],
            "title": "O(I) Rh+"
          },
          "o_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OMinusC07Enum"
              }
            ],
            "title": "O(I) Rh-"
          },
          "a_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/APlusC07Enum"
              }
            ],
            "title": "A(II) Rh+"
          },
          "a_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AMinusC07Enum"
              }
            ],
            "title": "A(II) Rh-"
          },
          "b_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BPlusC07Enum"
              }
            ],
            "title": "B(III) Rh+"
          },
          "b_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BMinusC07Enum"
              }
            ],
            "title": "B(III) Rh-"
          },
          "ab_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbPlusC07Enum"
              }
            ],
            "title": "AB(IV) Rh+"
          },
          "ab_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbMinusC07Enum"
              }
            ],
            "title": "AB(IV) Rh-"
          },
          "blood": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Цельная кровь"
          },
          "plasma": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Плазма"
          },
          "platelets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Тромбоциты"
          },
          "erythrocytes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Эритроциты"
          },
          "leukocytes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Гранулоциты (Лейкоциты)"
          },
          "address": {
            "type": "string",
            "title": "Адрес",
            "maxLength": 255
          },
          "site": {
            "type": "string",
            "title": "Сайт",
            "maxLength": 255
          },
          "phones": {
            "type": "string",
            "title": "Телефоны",
            "description": "Устаревшее поле",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "worktime": {
            "type": "string",
            "title": "Режим работы",
            "description": "Устаревшее поле",
            "maxLength": 255
          },
          "without_registration": {
            "type": "boolean",
            "title": "Можно сдавать без прописки",
            "description": "Центры крови принимает доноров без местной прописки"
          },
          "with_typing": {
            "type": "boolean",
            "title": "Можно пройти типирование",
            "description": "Здесь вы можете войти в <a href=\"https://wmdd2020.donorsearch.org\" target=\"_blank\">регистр доноров костного мозга</a>"
          },
          "for_moscow": {
            "type": "boolean",
            "title": "В зачёт почётного донора Москвы",
            "description": "Сдавая в этом центре крови можно получить звание Почётного донора Москвы"
          },
          "closed": {
            "type": "boolean",
            "title": "Ликвидирован",
            "description": "Если данный центр крови больше не существует, то не будет показан в поиске, где сдать кровь. Однако при добавлении донаций, доноры могут найти этот центр крови, чтобы отметить свои старые донации."
          },
          "priority": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций добавлено"
          }
        },
        "required": [
          "city",
          "city_id",
          "id",
          "lat",
          "lng",
          "title"
        ]
      },
      "BloodStationSmallBloodGroupEnum": {
        "enum": [
          "o_plus",
          "o_minus",
          "a_plus",
          "a_minus",
          "b_plus",
          "b_minus",
          "ab_plus",
          "ab_minus"
        ],
        "type": "string",
        "description": "* `o_plus` - O(I) Rh+\n* `o_minus` - O(I) Rh-\n* `a_plus` - A(II) Rh+\n* `a_minus` - A(II) Rh-\n* `b_plus` - B(III) Rh+\n* `b_minus` - B(III) Rh-\n* `ab_plus` - AB(IV) Rh+\n* `ab_minus` - AB(IV) Rh-"
      },
      "BloodStationWithNeeds": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "city_id": {
            "type": "integer"
          },
          "city": {
            "$ref": "#/components/schemas/City"
          },
          "has_blood_group": {
            "type": "string",
            "readOnly": true
          },
          "schedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BloodStationSchedule"
            }
          },
          "phone_numbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BloodStationPhone"
            }
          },
          "lat": {
            "type": "string",
            "readOnly": true
          },
          "lng": {
            "type": "string",
            "readOnly": true
          },
          "blood_group": {
            "type": "string",
            "readOnly": true
          },
          "blood_status": {
            "type": "string",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          },
          "parser_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "title": "Страница в службе крови",
            "maxLength": 200
          },
          "is_get_from_parser": {
            "type": "boolean",
            "title": "Принимать потребности у службы крови?",
            "description": "Данные будут обновляться каждый день в час ночи."
          },
          "o_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OPlusC07Enum"
              }
            ],
            "title": "O(I) Rh+"
          },
          "o_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/OMinusC07Enum"
              }
            ],
            "title": "O(I) Rh-"
          },
          "a_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/APlusC07Enum"
              }
            ],
            "title": "A(II) Rh+"
          },
          "a_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AMinusC07Enum"
              }
            ],
            "title": "A(II) Rh-"
          },
          "b_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BPlusC07Enum"
              }
            ],
            "title": "B(III) Rh+"
          },
          "b_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BMinusC07Enum"
              }
            ],
            "title": "B(III) Rh-"
          },
          "ab_plus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbPlusC07Enum"
              }
            ],
            "title": "AB(IV) Rh+"
          },
          "ab_minus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AbMinusC07Enum"
              }
            ],
            "title": "AB(IV) Rh-"
          },
          "blood": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Цельная кровь"
          },
          "plasma": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Плазма"
          },
          "platelets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Тромбоциты"
          },
          "erythrocytes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Эритроциты"
          },
          "leukocytes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/LeukocytesEnum"
              }
            ],
            "title": "Гранулоциты (Лейкоциты)"
          },
          "address": {
            "type": "string",
            "title": "Адрес",
            "maxLength": 255
          },
          "site": {
            "type": "string",
            "title": "Сайт",
            "maxLength": 255
          },
          "phones": {
            "type": "string",
            "title": "Телефоны",
            "description": "Устаревшее поле",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          },
          "worktime": {
            "type": "string",
            "title": "Режим работы",
            "description": "Устаревшее поле",
            "maxLength": 255
          },
          "without_registration": {
            "type": "boolean",
            "title": "Можно сдавать без прописки",
            "description": "Центры крови принимает доноров без местной прописки"
          },
          "with_typing": {
            "type": "boolean",
            "title": "Можно пройти типирование",
            "description": "Здесь вы можете войти в <a href=\"https://wmdd2020.donorsearch.org\" target=\"_blank\">регистр доноров костного мозга</a>"
          },
          "for_moscow": {
            "type": "boolean",
            "title": "В зачёт почётного донора Москвы",
            "description": "Сдавая в этом центре крови можно получить звание Почётного донора Москвы"
          },
          "closed": {
            "type": "boolean",
            "title": "Ликвидирован",
            "description": "Если данный центр крови больше не существует, то не будет показан в поиске, где сдать кровь. Однако при добавлении донаций, доноры могут найти этот центр крови, чтобы отметить свои старые донации."
          },
          "priority": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций добавлено"
          }
        },
        "required": [
          "blood_group",
          "blood_status",
          "city",
          "city_id",
          "has_blood_group",
          "id",
          "lat",
          "lng",
          "phone_numbers",
          "schedule",
          "title"
        ]
      },
      "BonusDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "_bonus_image": {
            "type": "string",
            "format": "uri",
            "title": "Изображение бонуса",
            "description": "Минимальный размер 10x10, Максимальный размер 10000x10000"
          },
          "partner_image": {
            "type": "string"
          },
          "is_taken": {
            "type": "string",
            "readOnly": true
          },
          "bonus_name": {
            "type": "string",
            "title": "Название бонуса",
            "description": "Максимум 48 символов",
            "maxLength": 48
          },
          "bonus_description": {
            "type": "string",
            "title": "Описание бонуса"
          },
          "partner_name": {
            "type": "string",
            "title": "Имя партнера",
            "description": "Максимум 29 символов",
            "maxLength": 29
          },
          "date_validity": {
            "type": "string",
            "format": "date",
            "title": "Срок действия"
          },
          "is_published": {
            "type": "boolean",
            "title": "Опубликован?"
          },
          "is_expired": {
            "type": "boolean",
            "readOnly": true,
            "default": false
          },
          "has_feedback": {
            "type": "boolean",
            "readOnly": true,
            "default": false
          },
          "partner_url": {
            "type": "string",
            "format": "uri",
            "title": "Ссылка на партнера",
            "maxLength": 200
          },
          "state": {
            "type": "string",
            "readOnly": true
          },
          "bonus_confines": {
            "type": "string",
            "title": "Ограничения бонуса"
          },
          "promocode": {
            "type": "string",
            "readOnly": true
          },
          "w": {
            "type": "integer"
          },
          "h": {
            "type": "integer"
          },
          "cities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/City"
            }
          }
        },
        "required": [
          "_bonus_image",
          "bonus_confines",
          "bonus_description",
          "bonus_name",
          "cities",
          "date_validity",
          "h",
          "has_feedback",
          "id",
          "is_expired",
          "is_taken",
          "partner_image",
          "partner_name",
          "partner_url",
          "promocode",
          "state",
          "w"
        ]
      },
      "BonusFeedback": {
        "type": "object",
        "properties": {
          "rating": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RatingEnum"
              }
            ],
            "title": "Оценка"
          },
          "comment": {
            "type": "string",
            "title": "Пояснение пользователя"
          }
        }
      },
      "BonusList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "bonus_image": {
            "type": "string"
          },
          "partner_image": {
            "type": "string"
          },
          "is_taken": {
            "type": "string",
            "readOnly": true
          },
          "bonus_name": {
            "type": "string",
            "title": "Название бонуса",
            "description": "Максимум 48 символов",
            "maxLength": 48
          },
          "partner_name": {
            "type": "string",
            "title": "Имя партнера",
            "description": "Максимум 29 символов",
            "maxLength": 29
          },
          "date_validity": {
            "type": "string",
            "format": "date",
            "title": "Срок действия"
          },
          "is_published": {
            "type": "boolean",
            "title": "Опубликован?"
          },
          "h": {
            "type": "integer"
          },
          "w": {
            "type": "integer"
          },
          "cities": {
            "type": "array",
            "items": {
              "type": "integer",
              "title": "Доступен в городах"
            },
            "title": "Доступен в городах"
          },
          "priority": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Приоритет",
            "description": "Чем больше число, тем выше в списке"
          }
        },
        "required": [
          "bonus_image",
          "bonus_name",
          "date_validity",
          "h",
          "id",
          "is_taken",
          "partner_image",
          "partner_name",
          "w"
        ]
      },
      "ChangePassword": {
        "type": "object",
        "properties": {
          "password1": {
            "type": "string"
          },
          "password2": {
            "type": "string"
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          },
          "slug": {
            "type": "string",
            "title": "Название",
            "description": "Строковый идентификатор сущности.",
            "maxLength": 255
          },
          "region_id": {
            "type": "integer"
          },
          "region": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Region"
              }
            ],
            "readOnly": true
          },
          "country": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Country"
              }
            ],
            "readOnly": true
          },
          "priority": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Приоритет"
          },
          "lat": {
            "type": "string",
            "readOnly": true
          },
          "lng": {
            "type": "string",
            "readOnly": true
          }
        },
        "required": [
          "country",
          "id",
          "lat",
          "lng",
          "region",
          "region_id",
          "title"
        ]
      },
      "CitySearch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          },
          "address": {
            "type": "string",
            "readOnly": true
          },
          "lat": {
            "type": "string",
            "readOnly": true
          },
          "lng": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "default": "city"
          },
          "slug": {
            "type": "string",
            "title": "Название",
            "description": "Строковый идентификатор сущности.",
            "maxLength": 255
          }
        },
        "required": [
          "address",
          "id",
          "lat",
          "lng",
          "title",
          "type"
        ]
      },
      "Country": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "title": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          }
        },
        "required": [
          "id",
          "title"
        ]
      },
      "Donation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "blood_station_id": {
            "type": "integer",
            "nullable": true
          },
          "blood_station": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodStationSmall"
              }
            ],
            "readOnly": true
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InlinePicture"
              }
            ],
            "readOnly": true
          },
          "image_id": {
            "type": "integer",
            "nullable": true
          },
          "city_id": {
            "type": "integer"
          },
          "city": {
            "allOf": [
              {
                "$ref": "#/components/schemas/City"
              }
            ],
            "readOnly": true
          },
          "legacy_image": {
            "type": "string",
            "readOnly": true
          },
          "has_reply": {
            "type": "string",
            "readOnly": true
          },
          "reply_viewed": {
            "type": "string",
            "readOnly": true
          },
          "allowed_modify": {
            "type": "string",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата добавления"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата изменения"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Status73fEnum"
              }
            ],
            "readOnly": true,
            "title": "Статус",
            "description": "Статус \"без справки\" можно изменить отметив поле \"Со справкой?\" и добавив справку\n\n* `waiting` - На модерации\n* `waiting_after_accept` - На модерации после принятия\n* `without_image` - Без справки\n* `accepted` - Принята\n* `rejected` - Отклонена\n* `deleted` - Удалена"
          },
          "reject_reason": {
            "readOnly": true,
            "nullable": true,
            "title": "Причина отказа",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RejectReasonEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "donate_at": {
            "type": "string",
            "format": "date",
            "title": "Дата донации"
          },
          "blood_class": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodClassF07Enum"
              }
            ],
            "title": "Класс крови"
          },
          "payment_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentTypeEnum"
              }
            ],
            "title": "Тип донации"
          },
          "is_out": {
            "type": "boolean",
            "title": "Выездная акция"
          },
          "volume": {
            "type": "number",
            "format": "double",
            "title": "Объем"
          },
          "payment_cost": {
            "type": "number",
            "format": "double",
            "title": "Цена донаци"
          },
          "on_moderation_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "С какой даты на модерации"
          },
          "with_image": {
            "type": "boolean",
            "title": "Со справкой?"
          },
          "created_using_ocr": {
            "type": "boolean",
            "title": "Создано OCR",
            "description": "Данная запись сгенерирована с помощью модуля распознования справок"
          },
          "user": {
            "type": "integer",
            "readOnly": true,
            "title": "Пользователь"
          }
        },
        "required": [
          "allowed_modify",
          "blood_station",
          "city",
          "city_id",
          "created_at",
          "donate_at",
          "has_reply",
          "id",
          "image",
          "legacy_image",
          "reject_reason",
          "reply_viewed",
          "status",
          "updated_at",
          "user"
        ]
      },
      "DonationAgg": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций за все время"
          },
          "last_donation_at": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "Дата последней донации"
          },
          "blood": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Цельная кровь"
          },
          "plasma": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Плазма"
          },
          "platelets": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Тромбоциты"
          },
          "erythrocytes": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Эритроциты"
          },
          "leukocytes": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Гранулоциты (Лейкоциты)"
          },
          "unconfirmed_donations": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Не подтверждённые"
          }
        }
      },
      "DonationAggTop": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций за все время"
          },
          "last_donation_at": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "Дата последней донации"
          },
          "blood": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Цельная кровь"
          },
          "plasma": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Плазма"
          },
          "platelets": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Тромбоциты"
          },
          "erythrocytes": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Эритроциты"
          },
          "leukocytes": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Гранулоциты (Лейкоциты)"
          },
          "unconfirmed_donations": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Не подтверждённые"
          },
          "count_year": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций за донорский год"
          },
          "blood_year": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Цельная кровь за донорский год"
          },
          "plasma_year": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Плазма за донорский год"
          },
          "platelets_year": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Тромбоциты за донорский год"
          },
          "erythrocytes_year": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Эритроциты за донорский год"
          },
          "leukocytes_year": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Лейкоциты за донорский год"
          }
        }
      },
      "DonationAggTopLight": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Донаций за все время"
          },
          "blood": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Цельная кровь"
          },
          "plasma": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Плазма"
          },
          "platelets": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Тромбоциты"
          },
          "erythrocytes": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Эритроциты"
          },
          "leukocytes": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Гранулоциты (Лейкоциты)"
          }
        }
      },
      "DonationCreate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "blood_station_id": {
            "type": "integer",
            "nullable": true
          },
          "blood_station": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodStationSmall"
              }
            ],
            "readOnly": true
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InlinePicture"
              }
            ],
            "readOnly": true
          },
          "image_id": {
            "type": "integer",
            "nullable": true
          },
          "city_id": {
            "type": "integer"
          },
          "city": {
            "allOf": [
              {
                "$ref": "#/components/schemas/City"
              }
            ],
            "readOnly": true
          },
          "legacy_image": {
            "type": "string",
            "readOnly": true
          },
          "has_reply": {
            "type": "string",
            "readOnly": true
          },
          "reply_viewed": {
            "type": "string",
            "readOnly": true
          },
          "allowed_modify": {
            "type": "string",
            "readOnly": true
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "middle_name": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата добавления"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата изменения"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Status73fEnum"
              }
            ],
            "readOnly": true,
            "title": "Статус",
            "description": "Статус \"без справки\" можно изменить отметив поле \"Со справкой?\" и добавив справку\n\n* `waiting` - На модерации\n* `waiting_after_accept` - На модерации после принятия\n* `without_image` - Без справки\n* `accepted` - Принята\n* `rejected` - Отклонена\n* `deleted` - Удалена"
          },
          "reject_reason": {
            "readOnly": true,
            "nullable": true,
            "title": "Причина отказа",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RejectReasonEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "donate_at": {
            "type": "string",
            "format": "date",
            "title": "Дата донации"
          },
          "blood_class": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodClassF07Enum"
              }
            ],
            "title": "Класс крови"
          },
          "payment_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentTypeEnum"
              }
            ],
            "title": "Тип донации"
          },
          "is_out": {
            "type": "boolean",
            "title": "Выездная акция"
          },
          "volume": {
            "type": "number",
            "format": "double",
            "title": "Объем"
          },
          "payment_cost": {
            "type": "number",
            "format": "double",
            "title": "Цена донаци"
          },
          "on_moderation_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "С какой даты на модерации"
          },
          "with_image": {
            "type": "boolean",
            "title": "Со справкой?"
          },
          "created_using_ocr": {
            "type": "boolean",
            "title": "Создано OCR",
            "description": "Данная запись сгенерирована с помощью модуля распознования справок"
          },
          "user": {
            "type": "integer",
            "readOnly": true,
            "title": "Пользователь"
          }
        },
        "required": [
          "allowed_modify",
          "blood_station",
          "city",
          "city_id",
          "created_at",
          "donate_at",
          "has_reply",
          "id",
          "image",
          "legacy_image",
          "reject_reason",
          "reply_viewed",
          "status",
          "updated_at",
          "user"
        ]
      },
      "DonationDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "blood_station_id": {
            "type": "integer",
            "nullable": true
          },
          "blood_station": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodStationSmall"
              }
            ],
            "readOnly": true
          },
          "image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InlinePicture"
              }
            ],
            "readOnly": true
          },
          "image_id": {
            "type": "integer",
            "nullable": true
          },
          "city_id": {
            "type": "integer"
          },
          "city": {
            "allOf": [
              {
                "$ref": "#/components/schemas/City"
              }
            ],
            "readOnly": true
          },
          "legacy_image": {
            "type": "string",
            "readOnly": true
          },
          "has_reply": {
            "type": "string",
            "readOnly": true
          },
          "reply_viewed": {
            "type": "string",
            "readOnly": true
          },
          "allowed_modify": {
            "type": "string",
            "readOnly": true
          },
          "feedback": {
            "type": "string",
            "readOnly": true
          },
          "favorite_blood_station_id": {
            "type": "string",
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата добавления"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата изменения"
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Status73fEnum"
              }
            ],
            "readOnly": true,
            "title": "Статус",
            "description": "Статус \"без справки\" можно изменить отметив поле \"Со справкой?\" и добавив справку\n\n* `waiting` - На модерации\n* `waiting_after_accept` - На модерации после принятия\n* `without_image` - Без справки\n* `accepted` - Принята\n* `rejected` - Отклонена\n* `deleted` - Удалена"
          },
          "reject_reason": {
            "readOnly": true,
            "nullable": true,
            "title": "Причина отказа",
            "oneOf": [
              {
                "$ref": "#/components/schemas/RejectReasonEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "donate_at": {
            "type": "string",
            "format": "date",
            "title": "Дата донации"
          },
          "blood_class": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodClassF07Enum"
              }
            ],
            "title": "Класс крови"
          },
          "payment_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaymentTypeEnum"
              }
            ],
            "title": "Тип донации"
          },
          "is_out": {
            "type": "boolean",
            "title": "Выездная акция"
          },
          "volume": {
            "type": "number",
            "format": "double",
            "title": "Объем"
          },
          "payment_cost": {
            "type": "number",
            "format": "double",
            "title": "Цена донаци"
          },
          "on_moderation_date": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "С какой даты на модерации"
          },
          "with_image": {
            "type": "boolean",
            "title": "Со справкой?"
          },
          "created_using_ocr": {
            "type": "boolean",
            "title": "Создано OCR",
            "description": "Данная запись сгенерирована с помощью модуля распознования справок"
          },
          "user": {
            "type": "integer",
            "readOnly": true,
            "title": "Пользователь"
          }
        },
        "required": [
          "allowed_modify",
          "blood_station",
          "city",
          "city_id",
          "created_at",
          "donate_at",
          "favorite_blood_station_id",
          "feedback",
          "has_reply",
          "id",
          "image",
          "legacy_image",
          "reject_reason",
          "reply_viewed",
          "status",
          "updated_at",
          "user"
        ]
      },
      "DonationPlan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "event": {
            "type": "string",
            "readOnly": true
          },
          "blood_station_id": {
            "type": "integer",
            "nullable": true
          },
          "blood_station": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodStation"
              }
            ],
            "readOnly": true
          },
          "city_id": {
            "type": "integer",
            "nullable": true
          },
          "city": {
            "allOf": [
              {
                "$ref": "#/components/schemas/City"
              }
            ],
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата добавления"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата изменения"
          },
          "object_id": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "nullable": true,
            "title": "ID записи"
          },
          "blood_class": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodClassF07Enum"
              }
            ],
            "title": "Класс крови"
          },
          "plan_date": {
            "type": "string",
            "format": "date",
            "title": "Планируемая дата"
          },
          "payment_type": {
            "nullable": true,
            "title": "Тип донации",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PaymentTypeEnum"
              },
              {
                "$ref": "#/components/schemas/BlankEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DonationPlanStatusEnum"
              }
            ],
            "title": "Статус"
          },
          "is_out": {
            "type": "boolean",
            "title": "Выездная акция"
          },
          "user": {
            "type": "integer",
            "readOnly": true,
            "title": "Пользователь"
          },
          "content_type": {
            "type": "integer",
            "nullable": true,
            "title": "Тип записи"
          },
          "donation": {
            "type": "integer",
            "nullable": true,
            "title": "Добавленная Донация"
          }
        },
        "required": [
          "blood_station",
          "city",
          "created_at",
          "event",
          "id",
          "plan_date",
          "updated_at",
          "user"
        ]
      },
      "DonationPlanStatusEnum": {
        "enum": [
          "active",
          "abort",
          "done",
          "widget_abort"
        ],
        "type": "string",
        "description": "* `active` - донация запланирована\n* `abort` - планирование отменено\n* `done` - запланированная донация добавлена\n* `widget_abort` - отказ прикрепить справку к прошедшему планированию"
      },
      "DonorCard": {
        "type": "object",
        "properties": {
          "blood_group": {
            "nullable": true,
            "title": "Группа крови",
            "oneOf": [
              {
                "$ref": "#/components/schemas/DonorCardBloodGroupEnum"
              },
              {
                "$ref": "#/components/schemas/BlankEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "kell": {
            "nullable": true,
            "title": "Kell-Фактор",
            "oneOf": [
              {
                "$ref": "#/components/schemas/KellEnum"
              },
              {
                "$ref": "#/components/schemas/BlankEnum"
              },
              {
                "$ref": "#/components/schemas/NullEnum"
              }
            ]
          },
          "blood": {
            "type": "boolean",
            "title": "Готов сдавать Кровь"
          },
          "plasma": {
            "type": "boolean",
            "title": "Готов сдавать Плазма"
          },
          "platelets": {
            "type": "boolean",
            "title": "Готов сдавать Тромбоциты"
          },
          "erythrocytes": {
            "type": "boolean",
            "title": "Готов сдавать Эритроциты"
          },
          "leukocytes": {
            "type": "boolean",
            "title": "Готов сдавать Лейкоциты"
          },
          "cant_donate": {
            "type": "boolean",
            "title": "Я не могу сдавать кровь"
          },
          "cant_donate_disqualification": {
            "type": "boolean",
            "title": "Отвод"
          },
          "cant_donate_surgery": {
            "type": "boolean",
            "title": "Операция"
          },
          "cant_donate_lactation": {
            "type": "boolean",
            "title": "Кормление грудью"
          },
          "cant_donate_other": {
            "type": "boolean",
            "title": "Иное"
          },
          "cant_donate_donor": {
            "type": "boolean",
            "title": "Я не могу быть донором"
          },
          "cant_donate_notice": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "title": "Напомнить о возвращении"
          },
          "bone_donor": {
            "type": "boolean",
            "title": "Донор костного мозга"
          },
          "donations_before_reg": {
            "type": "integer",
            "maximum": 999,
            "minimum": 0,
            "nullable": true,
            "title": "Донаций до регистрации",
            "description": "число донаций пользователя до регистрации на DonorSearch"
          },
          "donor_status": {
            "type": "integer",
            "title": "Статус донора"
          }
        }
      },
      "DonorCardBloodGroupEnum": {
        "enum": [
          "o_plus",
          "o_minus",
          "a_plus",
          "a_minus",
          "b_plus",
          "b_minus",
          "ab_plus",
          "ab_minus",
          "dont_know"
        ],
        "type": "string",
        "description": "* `o_plus` - O(I) Rh+\n* `o_minus` - O(I) Rh-\n* `a_plus` - A(II) Rh+\n* `a_minus` - A(II) Rh-\n* `b_plus` - B(III) Rh+\n* `b_minus` - B(III) Rh-\n* `ab_plus` - AB(IV) Rh+\n* `ab_minus` - AB(IV) Rh-\n* `dont_know` - Не знаю"
      },
      "DonorStatus": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "title": "Название",
            "maxLength": 50
          },
          "donations_count": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "Количество донаций"
          },
          "background_color": {
            "type": "string",
            "title": "Цвет фона",
            "maxLength": 100
          },
          "text_color": {
            "type": "string",
            "title": "Цвет текста",
            "maxLength": 100
          }
        },
        "required": [
          "donations_count",
          "id",
          "name"
        ]
      },
      "DonorsRequirement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "requirement": {
            "type": "string",
            "title": "Требование",
            "maxLength": 255
          },
          "event": {
            "type": "integer",
            "title": "Требования к донорам"
          }
        },
        "required": [
          "event",
          "id",
          "requirement"
        ]
      },
      "EmailChangeSerialzier": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 254
          }
        },
        "required": [
          "email"
        ]
      },
      "EmailConfirmationSerialzier": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "code": {
            "type": "integer"
          }
        },
        "required": [
          "code",
          "email"
        ]
      },
      "EmailRegistration": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "first_name",
          "password"
        ]
      },
      "EmailVerificationSerialzier": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "user_id": {
            "type": "integer"
          },
          "email": {
            "type": "string",
            "format": "email"
          }
        },
        "required": [
          "code",
          "email",
          "user_id"
        ]
      },
      "EventBase": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "readOnly": true
          },
          "city": {
            "allOf": [
              {
                "$ref": "#/components/schemas/City"
              }
            ],
            "readOnly": true
          },
          "city_id": {
            "type": "integer"
          },
          "time_slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventTimeSlotForBase"
            },
            "readOnly": true
          },
          "joined_users": {
            "type": "string",
            "readOnly": true
          },
          "reports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventReport"
            },
            "readOnly": true
          },
          "author": {
            "type": "string",
            "readOnly": true
          },
          "category": {
            "allOf": [
              {
                "$ref": "#/components/schemas/EventCategory"
              }
            ],
            "readOnly": true
          },
          "user_status": {
            "type": "string",
            "readOnly": true
          },
          "type": {
            "type": "string",
            "readOnly": true
          },
          "individual_partners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IndividualEventPartner"
            },
            "readOnly": true
          },
          "unity_partners": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UnityEventPartner"
            },
            "readOnly": true
          },
          "donors_requirements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DonorsRequirement"
            },
            "readOnly": true
          },
          "blood_station": {
            "allOf": [
              {
                "$ref": "#/components/schemas/BloodStationSmall"
              }
            ],
            "readOnly": true
          },
          "available_slots": {
            "type": "string",
            "readOnly": true
          },
          "socialnetworks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventSocialNetworks"
            },
            "readOnly": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата добавления"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "title": "Дата изменения"
          },
          "object_id": {
            "type": "integer",
            "maximum": 2147483647,
            "minimum": 0,
            "title": "ID Организатора"
          },
          "name": {
            "type": "string",
            "title": "Название",
            "maxLength": 255
          },
          "description": {
            "type": "string",
            "title": "Описание"
[...]
